<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Orders</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_orders}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Harvested</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{Harvested}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Sorting Center</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{Sorting_Center}}</h3>
			  	</div>
			</div>
		</div>
	</div>

    <div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Quality check center</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{Quality_check_center}}</h3>
			  	</div>
			</div>
		</div>
	</div>

    <div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">out for delivery</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{out_for_delivery}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>